body {
	font-family: 'PT Serif', serif; 
	background-color: #dadada;
}

.sansSerif {
	font-family: 'Source Sans Pro', sans-serif;
}

.container {

    border: 1px solid #ff0000;
}

/*Header*/
#logo {
	width:71px;
	height:auto;
}
body > nav {
		background-color: #dadada;
		padding-bottom: 20px;
}
#navbar {
	margin: 63px 0 0 160px;
}
#navbar .navbar-nav {
	margin-right:60px;
}
#navbar .last {
	margin-right:0px;
}
#navbar a {
	color:#000;
	text-transform: uppercase;
	font-size: 18px;
	display: inline-block;
	padding:20px 0 6px 0;
	border-bottom: 3px solid transparent;
}

#navbar li.active a, #navbar a:hover {
	border-bottom: 3px solid #00b0bd ;
	background-color: transparent;
}

.navbar-brand {
    float: left;
    height: auto;
    padding: 10px 0 0 10px;
    font-size: 18px;
    line-height: 20px;
}

/*content*/
a {
	color: #00b0bd;
}
a:focus, a:hover {
    color: #00b0bd;
    text-decoration: underline;
}
#content {
	margin-top:210px;
}
#home #content .row {
	margin-bottom: 20px;
}
/*#content > .row#home-banner {
	display:block;
}*/
#content .row > #home-banner-content {
	position: absolute;
	color:#fff;
	font-size: 250%;
	line-height: 125%;
	font-style: italic;
	margin-top: 13%;
	margin-left:1%;
	background-color: transparent;
	padding:0;
	border:none;
}
#home-banner-content a:hover{
	color:rgba(255, 255, 255, 0.8);
}
#content .row > div{
	background-color: #fff;
	padding:20px;
}
a.more {
	color: #f16474;
	border-bottom: 1px solid #f16474;
	padding-bottom:3px;
}
a.more:hover {
	text-decoration: none;
	color:#AD4853;
	border-bottom-color: #AD4853;
}
a.more i {
	padding-right: 10px;
    font-size: 130%;
    border-bottom: 1px solid #fff;
    padding-bottom: 4px;
    margin-bottom: -3px;
}

#content .row > div.green {
	background-color: #00b0bd;
	color:#fff; 
	font-size:130%;
}
#content .row > div.green a{
	color:#fff;
}


