/*responsive.css*/
@media (min-width:768px) {
	.navbar>.container .navbar-brand {
		margin-left:-15px;
	}
	#navbar {
	padding: 33px 0 0 0;
	float:right;
	}

}

@media (min-width: 992px) {
	#footer {
		width: 970px;
	    padding-right: 15px;
	    padding-left: 15px;
	}

	#footer .social {
		text-align: right;
	}

	

	 .row > div {
		border-right:10px solid #dadada;
		border-left:10px solid #dadada;

	}
	 form .row > div {
		border-right:0;
		border-left:0;

	}

	 .row > div:last-child {
		border-right:0;
	}
	 .row > div:first-child {
		border-left:0;
	}


	 form .row > div {
	border-color: transparent;
	}
	 .row .row > div {
		border-right:0 none;
		border-left:0 none;
	}

	.equal {
		overflow:hidden;
	}
	.equal > div{
		padding-bottom:1000px !important;
		margin-bottom: -1000px  !important;
	}
	.equal > div > *:last-child:after {
		content:"";
		display:block;
		height:20px;
	}
	.navbar-nav>li {
	    float: none;
	}
	.navbar-toggle {
    display: none;
	}
	.subscribeContainer a {
	position: relative;
	height:100%;
	}
	.hideit {
		display: inherit;
	}
}/*min width 992*/
@media (min-width: 1200px) {

	#footer {
		width: 1170px;
    padding-right: 0;
    padding-left: 0;
	}
	.fixBtn {
	margin-top: 32px;
}

}/*min-width 1200*/

@media(max-width: 992px)  {
	.fixBtn {
	margin-top: 0;
	}
	#footer .social {
		text-align: left;
	}
	#footer .social i {
		padding-left:0;
		padding-right:20px;
	}
	.container, #footer {
	    width: 100%;
	}
	#content {
   		margin-top: 100px;
	}
	 #content .row {
		margin-bottom: 0;
	}
	 #content .row > div,  #content  -banner {
		margin-bottom:20px;
	}
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    .navbar-toggle {
	    position: absolute;
	    float: right;
	    right:0;
	    padding: 0;
	    margin:1px 10px 0 0;
	    background-color: transparent;
	    background-image: none;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    color:#00b0bd;
		font-size:24px;
		z-index:2000;
		display: block;
	}
    #navbar {
	    margin: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    background-color: #ccc;
	    left: 0;
	    min-height: 3000px;
	    padding-left: 20px;
	}

	#navbar a {
	    color: #000;
	    text-transform: uppercase;
	    font-size: 16px;
	    display: inline-block;
	    padding: 10px 0 2px 0;
	    border-bottom: 1px solid transparent;
	}
	#navbar li.active a, #navbar a:hover {
	    border-bottom: 1px solid #00b0bd;
	    background-color: transparent;
	}
	#navbar .navbar-nav, #navbar .navbar-nav li {
		float:none;
		margin:0;
	}
	#navbar .navbar-nav li {
		margin-bottom:30px;
	}
	#logo {
    	width: 100%;
    	height: auto;
	}
	.zeroLeft {
		padding-left: 20px !important;
	}
}/*max-width 1000*/
@media (max-width: 768px) {
	/*home banner*/
	#content .row > #home-banner-content  {
	    font-size: 220%;
	    line-height: 125%;
	    margin-top: 16%;
	    margin-left: 2%;
	} 
	/*end home banner*/	
}/*max-width: 768px*/


@media (max-width: 600px) {
	/*home banner*/
	#content .row > #home-banner-content  {
	    font-size: 180%;
	    line-height: 125%;
	    margin-top: 16%;
	    margin-left: 2%;
	} 

	/*end home banner*/	
}/*max-width: 600px*/

@media (max-width: 600px) {
	/*home banner*/
	#content .row > #home-banner-content  {
	    display:none;
	} 

	/*end home banner*/	
}/*max-width: 600px